
.btn-round {
    border-radius: 5rem;
}

.btn-white {
    background-color: #fff;
    color: #777777;
    border:0.15rem solid rgba(255, 255, 255, 0.75);
}
.btn-white:hover {
    background-color: rgb(39, 62, 80);
    color: #ffffff;
    border:0.15rem solid rgb(39, 62, 80);
}
.btn-outline {
    background-color: transparent;
    border:0.15rem solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    transition: all .3s;
    
}
.btn-outline:hover {
    background-color:#ffffff;
    color: #777777;
}
.btn-demo {
    border:0.15rem solid #273e50;
    /* color: #fff;     */
    color: #183246;
}
.btn-demo:hover {
    background-color:rgb(39, 62, 80);
    color: #fff;
    border:0.15rem solid rgb(39, 62, 80);    
}
.btn-demo::after {
    background-image:rgba(39, 62, 80, 0.8); }

.btn-animated {
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1.2rem 2.9rem;
    display: inline-block;
    border-radius: 5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.4rem;
}

.btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); } 

.btn-all-features {
    background-color: #384E77;
    color: #ffffff;
}
a.btn-all-features:hover {
    color: #fff !important;
}
.btn-all-features::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}
.btn-all-features:hover::after {
    transform: scaleX(1.5) scaleY(1.5);
    opacity: 0;
    color: #fff;
}
.btn-all-features::after {
    background-color: #384E77;
}
